@charset "utf-8";
/**-----------------------------------------------------------
 * name: blog.css
 * purpose: styles for the blog page
 * author: david kim
 * last revised: december 28th, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

a {
  color: inherit;
}

a>h2:hover {
  color: #ff4646;
  opacity: 0.6;
}

p {
  margin-top: 10px;
}

.vb-50 {
  height: 50px;
}

.vb-100 {
  height: 100px;
}

.vb-200 {
  height: 200px;
}

.bigger {
  font-size: 150%;
}

.main-container {
  background-image: linear-gradient(rgba(255, 221, 221, 0.5), rgba(244, 255, 237, 0.5)), url("../images/eevee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-entry {
  display: grid;
  /* two sections for now. 3 later w/ pic */
  grid-template-rows: 200px auto;
  width: 750px;
  margin: 0 auto 40px;
  padding: 25px 25px 5px 25px;
  height: 300px;
  background-color: rgba(252, 252, 252, 0.95);
  border-radius: 7px;
}

.content-preview {
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}

.blog-caption {
  display: flex;
  align-items: center;
  border-top: 1px solid #bbb;
  width: auto;
  overflow-x: visible;
}

.noline {
  border-top: none;
  margin-bottom: 30px;
}

.entry-author {
  font-weight: bold;
}

.entry-date {
  white-space: nowrap;
}

.blog-post {
  max-width: 900px;
  padding: 20px 40px;
  margin: 0 auto 40px;
  min-height: 74vh;
  white-space: normal;
  background-color: rgba(252, 252, 252, 0.95);
  border-radius: 12px;
}

.dropcap {
  float: left;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: .2em .5em .2em 0;
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.5em;
}

.dropcap-style {
  color: #fff;
  background: #45484d;
  background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  text-shadow: -1px -1px 0 #000;
  -moz-text-shadow: -1px -1px 0 #000;
  -webkit-text-shadow: -1px -1px 0 #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}