@charset "utf-8";
/**-----------------------------------------------------------
 * name: blog.css
 * purpose: styles for the blog page
 * author: david kim
 * last revised: december 28th, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

a {
  color: inherit;
}

a>h2:hover {
  color: #ff4646;
  opacity: 0.6;
}

p {
  margin-top: 10px;
}

del {
  text-decoration: line-through;
}

.vb-50 {
  height: 50px;
}

.vb-100 {
  height: 100px;
}

.vb-200 {
  height: 200px;
}

.bigger {
  font-size: 150%;
}

.main-container {
  background-image: linear-gradient(rgba(255, 221, 221, 0.5), rgba(244, 255, 237, 0.5)), url("../images/eevee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-entry {
  display: grid;
  /* two sections for now. 3 later w/ pic */
  grid-template-rows: 200px auto;
  width: 750px;
  margin: 0 auto 40px;
  padding: 25px 25px 5px 25px;
  height: 300px;
  background-color: rgba(252, 252, 252, 0.95);
  border-radius: 7px;
}

.content-preview {
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}

.blog-caption {
  display: flex;
  align-items: center;
  border-top: 1px solid #bbb;
  width: auto;
  overflow-x: visible;
}

.noline {
  border-top: none;
  margin-bottom: 30px;
}

.entry-author {
  font-weight: bold;
}

.entry-date {
  white-space: nowrap;
}

.blog-post {
  max-width: 900px;
  padding: 20px 40px;
  margin: 0 auto 40px;
  min-height: 74vh;
  white-space: normal;
  background-color: rgba(252, 252, 252, 0.95);
  border-radius: 12px;
}

#blog-top-bar {
  width: 750px;
  margin: 0 auto;
  height: 130px;
}

#make-post-button {
  color: #fff;
  background-color: #463939;
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  border: transparent;
  border-radius: 4px;
  margin: 30px 0;
  padding: 15px;
  width: 200px;
  float: right;
}

#make-post-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Blog post form styling */

#blog-post-form {
  display: flex;
  flex-direction: column;
  border: transparent;
  border-radius: 12px;
  margin: 50px auto;
  width: 70vw;
}

#blog-post-form>h2 {
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 9px;
}

#blog-post-form textarea {
  overflow: auto;
  font-family: inherit;
  resize: none;
}

#form-submit {
  color: #fff;
  background-color: #463939;
  font-size: 20px;
  font-family: inherit;
  line-height: inherit;
  border: transparent;
  border-radius: 4px;
  margin-top: 30px;
  padding: 15px;
  width: 200px;
}

#form-submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.form-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: inherit;
  line-height: inherit;
  margin-top: 20px;
  padding: 20px 25px;
  appearance: none;
  border: transparent;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Dropcap styling, off for now */

/* .blog-content::first-letter {
  float: left;
  line-height: 35px;
  font-size: 55px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  border: transparent;
  border-radius: 100px;
  padding: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
} */