@charset "utf-8";
/**-----------------------------------------------------------
 * name: main.css
 * purpose: baseline css framework used for the whole website
 * author: david kim
 * last revised: april 4th, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

/* Just in case browser does not support HTML5 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: -apple-system, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Font set is same as the dashboard app Momentum */

body {
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #1a1a1a;
  line-height: 1.8;
}

article, aside, footer, header, nav, section {
  display: block;
}

/* main style, inclusive of everything(!!) on the page. Uses grid. */

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr auto 1fr 32px;
  grid-template-areas: "header" "greet" "main" "external" "footer";
  column-gap: 10px;
}

/* Styles for the main greeting text */

.greeting {
  grid-area: greet;
  justify-self: center;
  align-self: center;
  transition: opacity 1.5s;
}

.greeting h2 {
  margin: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 90px;
}

/* The outer box itself is both a grid ITEM and a grid CONTAINER! */

.outer {
  grid-area: main;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr auto;
}

/* And these are the subgrid boxes. */

.inner {
  justify-self: center;
  align-self: center;
  text-align: center;
  transition: opacity 1.5s;
}

.inner h2 {
  font-size: 32px;
}

.inner a {
  color: blue;
}

.inner h2 {
  margin-bottom: 50px;
}

/* External links also both a grid ITEM and a CONTAINER. */

.external-links {
  grid-area: external;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  column-gap: 100px;
  transition: opacity 1.5s;
}

.image {
  justify-self: center;
  align-self: center;
  margin: 25px;
}

.image img {
  width: 100px;
  height: auto;
}

/* Screens smaller than 800px */

@media only screen and (max-width: 800px) {
  .main-container {
    grid-template-rows: 60px 1fr auto 4fr 32px;
  }
  .greeting h2 {
    margin: 20px;
    font-size: 72px;
  }
  .inner h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .external-links {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    column-gap: 0px;
  }
  .image {
    margin: 10px;
  }
  .image img {
    width: 75px;
    height: auto;
  }
}

/* Use h2 (not h1!!) for "big" texts! h1 reserved for header & nav. */

h2 {
  font-weight: inherit;
}

footer {
  grid-area: footer;
  height: 100%;
  font-size: 16px;
  text-align: right;
  font-weight: 200;
}

.cornell {
  color: #b31b1b;
}

.bold {
  font-weight: 500;
}

.shown {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#no_javascript_msg {
  text-align: center;
}