/**-----------------------------------------------------------
 * name: nav-header.css
 * purpose: css styles for the navigation bar & header
 * author: david kim
 * last revised: april 3rd, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

/* First, header: */

header {
  width: 100%;
  height: 60px;
  background-color: #101010;
  letter-spacing: 0.3em;
  display: grid;
  grid-template-columns: 200px auto 200px;
  /* column-gap: auto; */
}

/* Center logo in the header */

#logo {
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
}

#logo h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

#logo h1 .initials {
  font-weight: 800;
}

/* The intersect at the top left corner, between the header and the nav bar */

#nav-intersect {
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

#nav-intersect h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

/* The project nav at the top right corner */

#project-nav {
  grid-column: 3 / span 1;
  justify-self: center;
  align-self: center;
}

#project-nav h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

/* Screens smaller than 1300px */

@media only screen and (min-width: 700px) and (max-width: 1300px) {
  #logo h1 .not-initials {
    display: none;
  }
}

/* Screens smaller than 700px */

@media only screen and (max-width: 700px) {
  #logo {
    display: none;
  }
  #project-nav {
    display: none;
  }
  #nav-intersect {
    grid-column: 1 / span 3;
  }
}

/* Now, navigation bar: */

nav {
  display: none;
  font-size: 1.5em;
  position: fixed;
  height: 100%;
  --small: 0;
}

nav>ul {
  width: 220px;
  height: 100%;
  /* TODO: change this to #f2f2f2 later! */
  background-color: #fff;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

nav ul {
  padding: 40px 20px;
}

nav li {
  margin-bottom: 20px;
}

/* Screens smaller than 700px */

@media only screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: unset;
    --small: 1;
  }
  nav>ul {
    width: 100%;
  }
}