/**-----------------------------------------------------------
 * name: nav-header.css
 * purpose: css styles for the navigation bar & header
 * author: david kim
 * last revised: april 5th, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

/* First, header: */

header {
  height: 60px;
  width: 100%;
  background-color: #101010;
  letter-spacing: 0.3em;
  display: grid;
  grid-template-columns: 300px auto 300px;
}

/* Needed to make sure links don't purple out */

header a {
  color: inherit;
}

/* The intersect at the top left corner, between the header and the nav bar */

#nav-intersect {
  margin: 8px 0;
  grid-column: 1 / span 1;
  justify-self: start;
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
}

#nav-intersect h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

/* Center logo in the header */

#logo {
  margin: 8px 0;
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  height: 44px;
}

/* For apple.png. Or any image logo. */

#logo>h1>a>img {
  height: 44px;
}

#logo h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

#logo h1 .initials {
  font-weight: 800;
}

/* The project nav at the top right corner */

#project-nav {
  margin: 8px 0;
  grid-column: 3 / span 1;
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

#project-nav h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

/* Screens smaller than 1300px */

@media only screen and (min-width: 800px) and (max-width: 1300px) {
  #logo h1 .not-initials {
    display: none;
  }
}

/* Screens smaller than 800px */

@media only screen and (max-width: 800px) {
  #logo {
    display: none;
  }
  #project-nav {
    display: none;
  }
  #nav-intersect {
    grid-column: 1 / span 3;
  }
}

/* Now, navigation bar: */

nav {
  display: none;
  font-size: 1.5em;
  background-color: #f7f7f7;
  border-right: 1px solid #f2f2f2;
  position: fixed;
  height: 100%;
  top: 60px;
  z-index: 1;
  --small: 0;
}

nav>ul {
  width: 220px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

nav ul {
  padding: 40px 20px;
}

nav li {
  margin-bottom: 20px;
}