@charset "utf-8";
/**-----------------------------------------------------------
 * name: resume_creddle.css
 * purpose: styles for the single resume page
 * author: david kim
 * last revised: april 15th, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

iframe {
  display: block;
  margin: 0 auto;
  text-align: center;
}