@charset "utf-8";
/**-----------------------------------------------------------
 * name: tables.css
 * purpose: styling tables
 * author: david kim
 * last revised: july 4th, 2021
 * Copyright 2021 David Kim. All rights reserved.
 -----------------------------------------------------------*/

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  padding: 0 15px;
}
