@charset "utf-8";
/**-----------------------------------------------------------
 * name: test.css
 * purpose: styles for the home page
 * author: david kim
 * last revised: july 3rd, 2020
 * Copyright 2020 David Kim. All rights reserved.
 -----------------------------------------------------------*/

/* main style, inclusive of everything(!!) on the page. Uses grid. */

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 32px;
  grid-template-areas: "terminal" "footer";
  column-gap: 10px;
}

.terminal {
  grid-area: terminal;
  justify-self: center;
  align-self: center;
  display: block;
  height: 60vh;
  width: 80vw;
  max-width: 1000px;
  background-color: #23272d;
  padding: 10px 14px;
}

#code-box {
  font-family: Menlo, DejaVu Sans Mono, Consolas, Lucida Console, monospace;
  font-weight: 400;
  color: #72FE44;
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  line-height: normal;
}

/* Screens smaller than 800px */

@media only screen and (max-width: 800px) {}