html {
  text-align: center;
}

.main-container {
  overflow-x: scroll;
}

#piano>#notes>.black {
  color: black;
}

#piano>#notes>.white {
  color: white;
}

#buttonContainer {
  /* width: 100px; */
}

#midi-csv, #target-midi {
  display: none;
}